[submodule "lib/libelectronic-id"]
	path = lib/libelectronic-id
	url = https://github.com/web-eid/libelectronic-id
[submodule "src/mac/js"]
	path = src/mac/js
	url = ../web-eid-webextension
	branch = batch
